<div class="row">
  <div class="col-md-5">
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br/>
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %><br/>
      <%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin) %><br/>
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %><br/>
      <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %><br/>

    <% if current_user %>
      <h4>Current user: <%= current_user.name %></h4>
      <%= link_to("Log out", sign_out_path) %>
    <% end %>
  </div>
  <div class="col-md-5">
    <% if session[:pending_registration] %>
      <pre><%= session[:pending_registration] %></pre>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
</div>